.inputFrame {
    border-style: solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px
}

.inputBox {
    width: 85%;
    height: 90%;
}

.inputButton {
    width: 15%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
} 